version: "3"

# https://github.com/pi-hole/docker-pi-hole/blob/master/README.md

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    # For DHCP it is recommended to remove these ports and instead add: network_mode: "host"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
    environment:
      # Recommended environment variables
      TZ: "{{ pi_hole_tz }}"
      WEBPASSWORD: "{{ pi_hole_web_password }}"
      FTLCONF_LOCAL_IPV4: "{{ pi_hole_ftlconf_local_ipv4 }}"
      # Optional environment variables
      PIHOLE_DNS_: "{{ pi_hole_dns }}"
      PIHOLE_DOMAIN: 'home.arpa'
      REV_SERVER: 'true'
      REV_SERVER_DOMAIN: 'home.arpa'
      REV_SERVER_CIDR: '192.168.1.0/24'
      REV_SERVER_TARGET: '192.168.1.1'
    # Volumes store your data between container upgrades
    volumes:
      - './etc-pihole:/etc/pihole/'
      - './etc-dnsmasq.d:/etc/dnsmasq.d/'
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    restart: unless-stopped # Recommended but not required (DHCP needs NET_ADMIN)
